<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.CurrencyMapper">

    <resultMap type="Profit" id="ProfitResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="profitType" column="profit_type"/>
        <result property="balance" column="balance"/>
        <result property="earned" column="earned"/>
        <result property="completed" column="completed"/>
        <result property="lastTime" column="last_time"/>
    </resultMap>

    <resultMap type="CurrencyOrder" id="CurrencyOrderResult">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="transactionCurrency" column="transaction_currency"/>
        <result property="number" column="number"/>
        <result property="transactionType" column="transaction_type"/>
		<result property="buyingSources" column="buying_sources"/>
		<result property="whereToSell" column="where_to_sell"/>
        <result property="purchaseQuantity" column="purchase_quantity"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="sellQuantity" column="sell_quantity"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="spendUsdt" column="spend_usdt"/>
        <result property="availableFiatMoney" column="available_fiat_money"/>
        <result property="profit" column="profit"/>
        <result property="orderState" column="order_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getBbPerInformation" parameterType="Long" resultMap="ProfitResult">
        select
            b.money balance,a.earned,a.completed
         from rc_user_profit a left join rc_user b on (a.user_id=b.id)
         where a.user_id=#{userId} and a.profit_type='2'
    </select>


    <select id="getBbMyOrderList" resultMap="CurrencyOrderResult">
        SELECT
	b.id,
	b.order_id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.purchase_price,
	a.sell_price,
	(a.available_fiat_money-a.spend_usdt) profit,
	b.order_state,
	b.create_time
FROM
	rc_currency_order_release a
LEFT JOIN rc_currency_order b ON (a.id = b.rc_currency_order_release_id)
WHERE
	b.user_id = #{arg0}
	and
	a.order_state = '1'
	order by b.create_time desc
	limit  #{arg1} ,#{arg2}
    </select>


    <select id="getBbHistorical" resultMap="CurrencyOrderResult">
        SELECT
	b.id,
	b.order_id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.purchase_price,
	a.sell_price,
	(a.available_fiat_money-a.spend_usdt) profit,
	b.order_state,
	b.create_time
FROM
	rc_currency_order_release a
LEFT JOIN rc_currency_order b ON (a.id = b.rc_currency_order_release_id)
WHERE
	b.user_id = #{arg0}
	order by b.create_time desc
	limit  #{arg1} ,#{arg2}
    </select>


    <select id="getBbDetails" resultMap="CurrencyOrderResult">
        SELECT
	b.id,
	b.order_id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.buying_sources,
	a.where_to_sell,
	a.purchase_quantity,
	a.purchase_price,
	a.sell_quantity,
	a.sell_price,
	a.spend_usdt,
	a.available_fiat_money,
	(a.available_fiat_money-a.spend_usdt) profit,
	b.order_state
FROM
	rc_currency_order_release a
LEFT JOIN rc_currency_order b ON (a.id = b.rc_currency_order_release_id)
WHERE
	b.user_id = #{arg0} and b.order_id=#{arg1}
    </select>
</mapper>