<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.order.mapper.LegalCurrencyMapper">

    <resultMap type="Profit" id="ProfitResult">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="profitType" column="profit_type"/>
        <result property="balance" column="balance"/>
        <result property="earned" column="earned"/>
        <result property="completed" column="completed"/>
        <result property="lastTime" column="last_time"/>
    </resultMap>

    <resultMap type="FrenchCurrencyOrder" id="FrenchCurrencyOrderResult">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="transactionCurrency" column="transaction_currency"/>
        <result property="number" column="number"/>
        <result property="transactionType" column="transaction_type"/>
        <result property="buyingSources" column="buying_sources"/>
        <result property="whereToSell" column="where_to_sell"/>
        <result property="purchaseQuantity" column="purchase_quantity"/>
        <result property="purchasePrice" column="purchase_price"/>
        <result property="sellQuantity" column="sell_quantity"/>
        <result property="sellPrice" column="sell_price"/>
        <result property="spendUsdt" column="spend_usdt"/>
        <result property="availableFiatMoney" column="available_fiat_money"/>
        <result property="paymentImg" column="payment_img"/>
        <result property="profit" column="profit"/>
        <result property="orderState" column="order_state"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="getFbPerInformation" parameterType="Long" resultMap="ProfitResult">
        select
            b.money balance,a.earned,a.completed
         from rc_user_profit a left join rc_user b on (a.user_id=b.id)
         where a.user_id=#{userId} and a.profit_type='1'
    </select>

    <select id="getFbMyOrderList" resultMap="FrenchCurrencyOrderResult">
        SELECT
	b.id,
	b.order_id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.purchase_price,
	a.sell_price,
	(a.available_fiat_money-a.spend_usdt) profit,
	b.order_state,
	b.create_time
FROM
	rc_french_currency_order_release a
LEFT JOIN rc_french_currency_order b ON (a.id = b.rc_french_currency_order_release_id)
WHERE
	b.user_id = #{arg0}
	and
	(b.order_state ='1' or b.order_state ='2' or b.order_state ='3' or b.order_state ='4')
	and
	a.order_state = '1'
	order by b.create_time desc
	limit  #{arg1} ,#{arg2}
    </select>


    <select id="getFbHistorical" resultMap="FrenchCurrencyOrderResult">
        SELECT
	b.id,
	b.order_id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.purchase_price,
	a.sell_price,
	(a.available_fiat_money-a.spend_usdt) profit,
	b.order_state,
	b.create_time
FROM
	rc_french_currency_order_release a
LEFT JOIN rc_french_currency_order b ON (a.id = b.rc_french_currency_order_release_id)
WHERE
	b.user_id = #{arg0}
	and
	(b.order_state ='5' or b.order_state ='6' or b.order_state ='7' or b.order_state ='8')
	and
	a.order_state = '1'
	order by b.create_time desc
	limit  #{arg1} ,#{arg2}
    </select>


    <select id="getFbDetails" resultMap="FrenchCurrencyOrderResult">
        SELECT
	b.id,
	b.order_id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.buying_sources,
	a.where_to_sell,
	a.purchase_quantity,
	a.purchase_price,
	a.sell_quantity,
	a.sell_price,
	a.spend_usdt,
	a.available_fiat_money,
	(a.available_fiat_money-a.spend_usdt) profit,
	b.order_state,
	b.payment_img
FROM
	rc_french_currency_order_release a
LEFT JOIN rc_french_currency_order b ON (a.id = b.rc_french_currency_order_release_id)
WHERE
	b.user_id = #{arg0} and b.order_id=#{arg1}
    </select>

    <select id="getFbOptionalOrder" resultMap="FrenchCurrencyOrderResult">
       SELECT
    a.id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.buying_sources,
	a.where_to_sell,
	a.purchase_quantity,
	a.purchase_price,
	a.sell_quantity,
	a.sell_price,
	a.spend_usdt,
	a.available_fiat_money,
	(a.available_fiat_money-a.spend_usdt) profit,
	a.order_state,
	a.release_time create_time
FROM
	rc_french_currency_order_release a
WHERE
	(area IN (
		SELECT
			d.region
		FROM
			rc_user b,
			rc_user_area c,
			rc_collection_account_type d
		WHERE
			b.id = c.user_id
		AND c.rc_collection_account_type_id = d.id
		AND b.id = #{arg0}
	) OR a.assign_user_id =#{arg0})
AND a.order_state = '2'
	ORDER BY a.release_time desc
	LIMIT  #{arg1} ,#{arg2}
    </select>

    <select id="getFbOrderById" resultMap="FrenchCurrencyOrderResult">
       SELECT
    a.id,
	a.transaction_currency,
	a.number,
	a.transaction_type,
	a.buying_sources,
	a.where_to_sell,
	a.purchase_quantity,
	a.purchase_price,
	a.sell_quantity,
	a.sell_price,
	a.spend_usdt,
	a.available_fiat_money,
	(a.available_fiat_money-a.spend_usdt) profit,
	a.order_state
FROM
	rc_french_currency_order_release a
WHERE
	 a.id=#{id}
    </select>

</mapper>