<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.RcFrenchCurrencyOrderReleaseMapper">

    <resultMap type="RcFrenchCurrencyOrderRelease" id="RcFrenchCurrencyOrderReleaseResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="sellerUserId"    column="seller_user_id"    />
        <result property="transactionUserId"    column="transaction_user_id"    />
        <result property="transactionsType"    column="transactions_type"    />
        <result property="transactionName"    column="transaction_name"    />
        <result property="number"    column="number"    />
        <result property="purchasePrice"    column="purchase_price"    />
        <result property="sellingPrice"    column="selling_price"    />
        <result property="profitable"    column="profitable"    />
        <result property="releaseTime"    column="release_time"    />
        <result property="transactionsTime"    column="transactions_time"    />
        <result property="state"    column="state"    />
        <result property="paymentScreenshot"    column="payment_screenshot"    />
    </resultMap>

    <sql id="selectRcFrenchCurrencyOrderReleaseVo">
        select id, order_id, seller_user_id, transaction_user_id, transactions_type, transaction_name, number, purchase_price, selling_price, profitable, release_time, transactions_time, state, payment_screenshot from rc_french_currency_order_release
    </sql>

    <select id="selectRcFrenchCurrencyOrderReleaseList" parameterType="RcFrenchCurrencyOrderRelease" resultMap="RcFrenchCurrencyOrderReleaseResult">
        <include refid="selectRcFrenchCurrencyOrderReleaseVo"/>
        <where>
            <if test="orderId != null  and orderId != ''"> and order_id = #{orderId}</if>
            <if test="sellerUserId != null "> and seller_user_id = #{sellerUserId}</if>
            <if test="transactionUserId != null "> and transaction_user_id = #{transactionUserId}</if>
            <if test="transactionsType != null "> and transactions_type = #{transactionsType}</if>
            <if test="transactionName != null  and transactionName != ''"> and transaction_name like concat('%', #{transactionName}, '%')</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="purchasePrice != null "> and purchase_price = #{purchasePrice}</if>
            <if test="sellingPrice != null "> and selling_price = #{sellingPrice}</if>
            <if test="profitable != null "> and profitable = #{profitable}</if>
            <if test="releaseTime != null "> and release_time = #{releaseTime}</if>
            <if test="transactionsTime != null "> and transactions_time = #{transactionsTime}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="paymentScreenshot != null  and paymentScreenshot != ''"> and payment_screenshot = #{paymentScreenshot}</if>
        </where>
    </select>

    <select id="selectRcFrenchCurrencyOrderReleaseById" parameterType="Long" resultMap="RcFrenchCurrencyOrderReleaseResult">
        <include refid="selectRcFrenchCurrencyOrderReleaseVo"/>
        where id = #{id}
    </select>

    <insert id="insertRcFrenchCurrencyOrderRelease" parameterType="RcFrenchCurrencyOrderRelease">
        insert into rc_french_currency_order_release
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="sellerUserId != null">seller_user_id,</if>
            <if test="transactionUserId != null">transaction_user_id,</if>
            <if test="transactionsType != null">transactions_type,</if>
            <if test="transactionName != null">transaction_name,</if>
            <if test="number != null">number,</if>
            <if test="purchasePrice != null">purchase_price,</if>
            <if test="sellingPrice != null">selling_price,</if>
            <if test="profitable != null">profitable,</if>
            <if test="releaseTime != null">release_time,</if>
            <if test="transactionsTime != null">transactions_time,</if>
            <if test="state != null">state,</if>
            <if test="paymentScreenshot != null">payment_screenshot,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="sellerUserId != null">#{sellerUserId},</if>
            <if test="transactionUserId != null">#{transactionUserId},</if>
            <if test="transactionsType != null">#{transactionsType},</if>
            <if test="transactionName != null">#{transactionName},</if>
            <if test="number != null">#{number},</if>
            <if test="purchasePrice != null">#{purchasePrice},</if>
            <if test="sellingPrice != null">#{sellingPrice},</if>
            <if test="profitable != null">#{profitable},</if>
            <if test="releaseTime != null">#{releaseTime},</if>
            <if test="transactionsTime != null">#{transactionsTime},</if>
            <if test="state != null">#{state},</if>
            <if test="paymentScreenshot != null">#{paymentScreenshot},</if>
        </trim>
    </insert>

    <update id="updateRcFrenchCurrencyOrderRelease" parameterType="RcFrenchCurrencyOrderRelease">
        update rc_french_currency_order_release
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="sellerUserId != null">seller_user_id = #{sellerUserId},</if>
            <if test="transactionUserId != null">transaction_user_id = #{transactionUserId},</if>
            <if test="transactionsType != null">transactions_type = #{transactionsType},</if>
            <if test="transactionName != null">transaction_name = #{transactionName},</if>
            <if test="number != null">number = #{number},</if>
            <if test="purchasePrice != null">purchase_price = #{purchasePrice},</if>
            <if test="sellingPrice != null">selling_price = #{sellingPrice},</if>
            <if test="profitable != null">profitable = #{profitable},</if>
            <if test="releaseTime != null">release_time = #{releaseTime},</if>
            <if test="transactionsTime != null">transactions_time = #{transactionsTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="paymentScreenshot != null">payment_screenshot = #{paymentScreenshot},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRcFrenchCurrencyOrderReleaseById" parameterType="Long">
        delete from rc_french_currency_order_release where id = #{id}
    </delete>

    <delete id="deleteRcFrenchCurrencyOrderReleaseByIds" parameterType="String">
        delete from rc_french_currency_order_release where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>