<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.digital.mapper.RcTransactionDataMapper">

    <resultMap type="RcTransactionData" id="RcTransactionDataResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="fullname"    column="fullname"    />
        <result property="rank"    column="rank"    />
        <result property="logo"    column="logo"    />
        <result property="currentPrice"    column="current_price"    />
        <result property="currentPriceUsd"    column="current_price_usd"    />
        <result property="marketValue"    column="market_value"    />
        <result property="marketValueUsd"    column="market_value_usd"    />
        <result property="changePercent"    column="change_percent"    />
        <result property="lastUpdated"    column="last_updated"    />
    </resultMap>

    <sql id="selectRcTransactionDataVo">
        select id, name, code, fullname, rank, logo, current_price, current_price_usd, market_value, market_value_usd, change_percent, last_updated from rc_transaction_data
    </sql>

    <select id="selectRcTransactionDataList" parameterType="RcTransactionData" resultMap="RcTransactionDataResult">
        <include refid="selectRcTransactionDataVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="fullname != null  and fullname != ''"> and fullname like concat('%', #{fullname}, '%')</if>
            <if test="rank != null  and rank != ''"> and rank = #{rank}</if>
            <if test="logo != null  and logo != ''"> and logo = #{logo}</if>
            <if test="currentPrice != null "> and current_price = #{currentPrice}</if>
            <if test="currentPriceUsd != null "> and current_price_usd = #{currentPriceUsd}</if>
            <if test="marketValue != null "> and market_value = #{marketValue}</if>
            <if test="marketValueUsd != null "> and market_value_usd = #{marketValueUsd}</if>
            <if test="changePercent != null  and changePercent != ''"> and change_percent = #{changePercent}</if>
            <if test="lastUpdated != null  and lastUpdated != ''"> and last_updated = #{lastUpdated}</if>
        </where>
    </select>

    <select id="selectRcTransactionDataById" parameterType="Long" resultMap="RcTransactionDataResult">
        <include refid="selectRcTransactionDataVo"/>
        where id = #{id}
    </select>

    <insert id="insertRcTransactionData" parameterType="RcTransactionData">
        insert into rc_transaction_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="fullname != null">fullname,</if>
            <if test="rank != null">rank,</if>
            <if test="logo != null">logo,</if>
            <if test="currentPrice != null">current_price,</if>
            <if test="currentPriceUsd != null">current_price_usd,</if>
            <if test="marketValue != null">market_value,</if>
            <if test="marketValueUsd != null">market_value_usd,</if>
            <if test="changePercent != null">change_percent,</if>
            <if test="lastUpdated != null">last_updated,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="fullname != null">#{fullname},</if>
            <if test="rank != null">#{rank},</if>
            <if test="logo != null">#{logo},</if>
            <if test="currentPrice != null">#{currentPrice},</if>
            <if test="currentPriceUsd != null">#{currentPriceUsd},</if>
            <if test="marketValue != null">#{marketValue},</if>
            <if test="marketValueUsd != null">#{marketValueUsd},</if>
            <if test="changePercent != null">#{changePercent},</if>
            <if test="lastUpdated != null">#{lastUpdated},</if>
        </trim>
    </insert>

    <update id="updateRcTransactionData" parameterType="RcTransactionData">
        update rc_transaction_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="fullname != null">fullname = #{fullname},</if>
            <if test="rank != null">rank = #{rank},</if>
            <if test="logo != null">logo = #{logo},</if>
            <if test="currentPrice != null">current_price = #{currentPrice},</if>
            <if test="currentPriceUsd != null">current_price_usd = #{currentPriceUsd},</if>
            <if test="marketValue != null">market_value = #{marketValue},</if>
            <if test="marketValueUsd != null">market_value_usd = #{marketValueUsd},</if>
            <if test="changePercent != null">change_percent = #{changePercent},</if>
            <if test="lastUpdated != null">last_updated = #{lastUpdated},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRcTransactionDataById" parameterType="Long">
        delete from rc_transaction_data where id = #{id}
    </delete>

    <delete id="deleteRcTransactionDataByIds" parameterType="String">
        delete from rc_transaction_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertRcTransactionDataList" useGeneratedKeys="true" keyProperty="id" parameterType="RcTransactionData">
        REPLACE into rc_transaction_data (name,code,fullname,rank,logo,current_price,current_price_usd,market_value,market_value_usd,change_percent,last_updated)
        values
        <foreach collection="list" item="dept" index="index" separator=",">
            (
            #{dept.name,jdbcType=VARCHAR}, #{dept.code,jdbcType=VARCHAR}, #{dept.fullname,jdbcType=VARCHAR}, #{dept.rank,jdbcType=VARCHAR}, #{dept.logo,jdbcType=VARCHAR},
            #{dept.currentPrice,jdbcType=DECIMAL},#{dept.currentPriceUsd,jdbcType=DECIMAL},
            #{dept.marketValue,jdbcType=DECIMAL},#{dept.marketValueUsd,jdbcType=DECIMAL},
            #{dept.changePercent,jdbcType=VARCHAR},#{dept.lastUpdated,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="updateRcTransactionDataList"  parameterType="java.util.List">
        update rc_transaction_data
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="rank =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.rank!=null">
                        when id = #{item.id} then #{item.rank}
                    </if>
                </foreach>
            </trim>
            <trim prefix="current_price =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.currentPrice!=null">
                        when id = #{item.id} then #{item.currentPrice}
                    </if>
                </foreach>
            </trim>
            <trim prefix="current_price_usd =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.currentPriceUsd!=null">
                        when id = #{item.id} then #{item.currentPriceUsd}
                    </if>
                </foreach>
            </trim>
            <trim prefix="market_value =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.marketValue!=null">
                        when id = #{item.id} then #{item.marketValue}
                    </if>
                </foreach>
            </trim>
            <trim prefix="market_value_usd =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.marketValueUsd!=null">
                        when id = #{item.id} then #{item.marketValueUsd}
                    </if>
                </foreach>
            </trim>
            <trim prefix="change_percent =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.changePercent!=null">
                        when id = #{item.id} then #{item.changePercent}
                    </if>
                </foreach>
            </trim>
            <trim prefix="last_updated =case" suffix="end,">
                <foreach collection="list" item="item">
                    <if test="item.lastUpdated!=null">
                        when id = #{item.id} then #{item.lastUpdated}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>