<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.quartz.mapper.RcNewestMarketMapper">

    <resultMap type="RcNewestMarket" id="RcNewestMarketResult">
        <result property="id"    column="id"    />
        <result property="coinType"    column="coin_type"    />
        <result property="worldExponent"    column="world_exponent"    />
        <result property="dz24h"    column="dz_24h"    />
        <result property="commitE"    column="commit_e"    />
        <result property="rate"    column="rate"    />
        <result property="marketTime"    column="market_time"    />
    </resultMap>

    <sql id="selectRcNewestMarketVo">
        select id, coin_type, world_exponent, dz_24h, commit_e, rate, market_time from rc_newest_market
    </sql>

    <select id="selectRcNewestMarketList" parameterType="RcNewestMarket" resultMap="RcNewestMarketResult">
        <include refid="selectRcNewestMarketVo"/>
        <where>
            <if test="coinType != null  and coinType != ''"> and coin_type = #{coinType}</if>
            <if test="worldExponent != null  and worldExponent != ''"> and world_exponent = #{worldExponent}</if>
            <if test="dz24h != null  and dz24h != ''"> and dz_24h = #{dz24h}</if>
            <if test="commitE != null  and commitE != ''"> and commit_e = #{commitE}</if>
            <if test="rate != null  and rate != ''"> and rate = #{rate}</if>
            <if test="marketTime != null  and marketTime != ''"> and market_time = #{marketTime}</if>
        </where>
    </select>

    <select id="selectRcNewestMarketById" parameterType="Long" resultMap="RcNewestMarketResult">
        <include refid="selectRcNewestMarketVo"/>
        where id = #{id}
    </select>

    <insert id="insertRcNewestMarket" parameterType="RcNewestMarket">
        insert into rc_newest_market
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="coinType != null">coin_type,</if>
            <if test="worldExponent != null">world_exponent,</if>
            <if test="dz24h != null">dz_24h,</if>
            <if test="commitE != null">commit_e,</if>
            <if test="rate != null">rate,</if>
            <if test="marketTime != null">market_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="coinType != null">#{coinType},</if>
            <if test="worldExponent != null">#{worldExponent},</if>
            <if test="dz24h != null">#{dz24h},</if>
            <if test="commitE != null">#{commitE},</if>
            <if test="rate != null">#{rate},</if>
            <if test="marketTime != null">#{marketTime},</if>
        </trim>
    </insert>

    <update id="updateRcNewestMarket" parameterType="RcNewestMarket">
        update rc_newest_market
        <trim prefix="SET" suffixOverrides=",">
            <if test="coinType != null">coin_type = #{coinType},</if>
            <if test="worldExponent != null">world_exponent = #{worldExponent},</if>
            <if test="dz24h != null">dz_24h = #{dz24h},</if>
            <if test="commitE != null">commit_e = #{commitE},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="marketTime != null">market_time = #{marketTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRcNewestMarketById" parameterType="Long">
        delete from rc_newest_market where id = #{id}
    </delete>

    <delete id="deleteRcNewestMarketByIds" parameterType="String">
        delete from rc_newest_market where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>